<div class="dev" style="text-align: left">
<p>
If you want to implement your own Rails wrapper over the LL API, continue on.
Otherwise, see our <%= link_to 'Rails library and client implementations', developers_example_path %>.
</p>

<p>
Layouts and Line Drawings uses Ruby on Rails.  As well, our feed is
most easily used with Rails.
</p>

<h3>ActiveResource</h3>
<p>
For ActiveResource, you should have the following classes:

<ul>
<li>Specification < ActiveResource::Base</li>
<li>Photo < ActiveResource::Base</li>
</ul>
Set their self.site to equal 'http://layoutsandlinedrawings.com'.
</p>

<p>
Then, in standard Rails REST style you can request from our feed.
You can only GET our :index and :show method.  The routes are:
 
<ul>
<li>/specifications.xml</li>
<li>/specification/:id.xml</li>
<li>/specification/:id/photos.xml</li>
<li>/specification/:id/photo/:id.xml</li>
</ul>

The Specification class has_many :photos.  See the Rails API
documentation of <%= link_to 'ActiveResource', 'http://api.rubyonrails.org/classes/ActiveResource/Base.html'%>.
</p>

</div>
