<p>
If you're using PHP or Rails, please also see our <%= link_to 'libraries', libraries_path %>.  
We provide yacht information through a protocol called the LL API.
</p>

<h3>General</h3>
<p>
For the LL API, all requests should:
  <ul>
    <li>Hit the server root: http://layoutsandlinedrawings.com</li>
    <li>Include the parameter <i>method</i>.  See below for valid methods and arguments.</li>
    <li>Have the HTTP_ACCEPT header set to 'application/xml'.</li>
  </ul>
</p>

<h3>Methods</h3>
<p>
The LL API includes four methods:
<ul>
<li>SpecificationArray specifications_get(options)- Return all the specifications</li>
<li>Specification specification_get(id) - Return a specific specification</li>
<li>PhotoArray specification_photos_get(id) - Return all of a specification's photo</li>
<li>Photo specification_photo_get(specification_id, id) - Return a specific photo</li>
</ul>
</p>
