<div class="left_aligned">
<p>
If you're using PHP or Rails, please also see our <%= link_to 'libraries', libraries_path %>.  
We provide yacht information through a protocol called the LL API.
</p>

<h3>General</h3>
<p>
All requests should:
  <ul>
    <li>Hit the server root: http://layoutsandlinedrawings.com</li>
    <li>Include the parameter <i>method</i>.  See below for valid methods and arguments.</li>
    <li>Have their HTTP_ACCEPT header set to 'application/xml'.</li>
  </ul>
</p>

<h3>Methods</h3>
<p>
The LL API includes four methods:
<ul>
<li>
SpecificationArray specifications_get(options) - Finds specifications matching the passed options.  
Limits to 20 specifications.  Returns summaries of those specifications.
</li>
<li>Specification specification_get(id) - Returns the specific specification referenced by id.</li>
<li>PhotoArray specification_photos_get(id) - Returns all of a given specification's photos.  
Returns summaries of those photos.</li>
<li>Photo specification_photo_get(specification_id, id) - Returns a specific photo of the given specification.</li>
</ul>
</p>

</div>
