<div class="left_aligned">

  <%= application_name %> provides a wealth of information about yachts.  
  Using our feed a developer could make:

  <ul>
    <li>A yacht entry system which auto-loads in specification data and layouts.
        The user chooses a length, manufacturer, and model.  Then, the entry system
        draws in the data from the <%= application_name %> feed.
   
        See our <%= link_to 'live demo', 'http://rails_demo.layoutsandlinedrawings.com' %>
	for a simple similiar idea.
    </li>
    <li>A boat of the day page which randomly chooses one yacht from our feed.</li>
    <li>A price estimate and yachts for sale mashup.  Reading in LL price indexes,
 	the application could match these with real for sale yachts to show if their
	fairly priced.
    </li>
    <li>A brokerage yacht organizer program which uses <%= application_name %> yachts as standards
	and groups historic and current listings into buckets.
    </li>
  </ul>
</div>
