<div class="left_aligned">
<p>
<%= application_name %> provides a free XML feed of yacht layouts, line drawings, and specfications.
See <%= link_to 'examples', examples_path %> for what you can do.
</p>

<p>
<h3> Get Started!</h3>
Download one of our <%= link_to 'libraries', libraries_path %>.
</p>
</div>
