  <%= link_to image_tag('ll_thumb.gif', :alt=>"Layouts and Line Drawings"), root_path %>
  <h1 style="display: inline">Advertising</h1>         
  <hr/>

  <div class="left_aligned">
  <p>
  <%= application_name %> provides free advertising to for sale by owner yachts.  To qualify, you must
  have power yacht or sailboat above 40 feet in length and worth above $100,000.  Currently, we have ads
  on the bottom of our front page under the caption "Sponsored Yachts."  We will also consider showing
  your yacht on other pages.  Feel free to send us your ideas.
  </p>

  <h3>Email Us</h3>
  <p>
  To setup advertising, please contact sales@jordanyachts.com and mention <%= application_name %>.  Provide us
  with:
  <ul>
    <li>a photo of your yacht</li>
    <li>a title(like your yacht's name)</li>
    <li>a link to a webpage with more information</li>
  </ul>
  </p>
  </div>
