<div style="text-align: left">
  <p>
  <%= application_name %> provides free advertising to For Sale By Owners (FBSOs).  To qualify, you must
  have power yacht or sailboat above 40 feet in length and worth above $100,000.  Currently, we have ads
  on the bottom of our front page under the caption "Sponsored Yachts."  We also are considering showing
  yacht on other pages.  Feel free to send us your ideas.
  </p>

  <h3>Email Us</h3>
  <p>
  To setup advertising, please contact sales@jordanyachts.com and mention <%= application_name %>.  Provide us
  with a photo of your yacht, a title, and a link to a page with more information.
  </p>
</div>
