<div class = "dev" style="text-align: left">

<p>
<h3> Get Started!</h3>
Download one of our <%= link_to 'libraries', developers_example_path %>.
</p>

<p>
Layouts and Line Drawings provides a free XML feed of yacht layouts, line drawings, and specfications.
</p>

<p>
We provide a REST-style <%= link_to 'API', developers_api_path %>.  Our goals are to:

<ul>
<li>Have a simple, clean REST protocol</li>
<li>Provide useful Ruby on Rails and PHP libraries</li>
<li>Be easy to use with Ruby on Rails' built-in ActiveResource</li>
<li>Have a well-documented API for other languages</li>
<li>Be well tested</li>
</ul>
</p>

</div>
