<div style="text-align: left">

<p>
Layouts and Line Drawings provides a REST-style feed of yacht specfications, layouts,
and line drawings.  We return two objects: Specification, Photo.  Each comes in two forms:

 <ul>
 <li>An efficient limited version when we return a plurality of the objects</li>
 <li>The complete version when we return a singular object</li>
 </ul>
</p>

<h3>Schema</h3>
<p>
The limited versions are:
<div class="code">
<div class="left">
<b>Specification</b>
  id:integer
  thumb:string
  length:integer
  manufacturer:string
  model:string
  year:integer
</div>
<br/>
<div class="right">
<b>Photo</b>
  specification_id:integer
  id:integer
  full:string
  thumb:string
</div>
</div>
</p>

<p>
The complete versions are:
<div class="code">
<div class="left">
<b>Specification</b>
    id:integer
    full:string
    length:integer
    manufacturer:string
    model:string
    year:integer
    lwl:string
    loa:string
    lod:string
    beam:string
    min_draft:string
    max_draft:string
    bridge_clearance:string
    displacement:string
    ballast:string
    cruise_speed:string
    max_speed:string
    hull_material:string
    designer:string
    fuel_tanks:string
    water_tanks:string
    holding_tanks:string
    engine_manufacturer:string
    engine_model:string
    engine_fuel:string
    engine_horsepower:string
    engine_year:integer
    number_of_engines:integer
    created_at:datetime
    updated_at:datetime
    description:text
</div>
<br/>
<div class="right">
<b>Photo</b>
    id:integer
    specification_id:integer
    filename:string
    created_at:datetime
    updated_at:datetime
    thumb:string
    full:string
</div>

</div>
</p>

</div>
