<div style="text-align: left">

<p>
If you want to another language then PHP or Rails, start here.
Our XML feed provides layouts and lined drawings through a protocol called the LL API.
</p>

<h3> LL API </h3>
<p>
For the LL API, all requests should go to the server root:
  <ul><li> http://layoutsandlinedrawings.com</li></ul>
  
You should send an HTTP request with the parameter:
  <ul><li> method - the API method</li></ul>

All requests should have the HTTP_ACCEPT header set to 'application/xml'.
</p>

<p>
Here are the methods:
<ul>
<li>specifications_get() - Return all the specifications</li>
<li>specification_get(specification_id) - Return a specific specification</li>
<li>specification_photos_get(specification_id) - Return all of a spec's photo</li>
<li>specification_photo_get(specification_id, photo_id) - Return a specific photo</li>
</ul>

The plural methods return limited versions.  See our <%= link_to 'schema', developers_schema_path %>.
The specific requests return a complete version of an identified 
specification or photo.  The arguments "specification_id" and "id" should
be passed along with the "method" as parameters in the HTTP request.
</p>

<p>
For example to request all specifications do: <br/>
 <%= h 'GET http://layoutsandlinedrawings.com/?method=specifications_get' %>
</p>
<p>
For example to request a specific photo of a specification do: <br/>
 <%= h 'GET http://layoutsandlinedrawings.com/?method=specification_photo_get&specification_id=X&id=Y' %>
<br/>
Where X is the specification's id, and Y is the photo's id.
</p>
</div>
