<div style="text-align: left">

<p>
Layouts and Line Drawings (LL) provides a free XML feed of yacht specfications, layouts,
and line drawings.  LL provides two REST-style ways of interacting with our XML feed: 
using Rails' ActiveResource and using the LL API.  Our goals are to:

<ul>
<li>Have a simple, clean REST protocol</li>
<li>Be easy to use with Ruby on Rails' built-in ActiveResource</li>
<li>Have a well-documented API for non-Rails clients</li>
<li>Provide useful client implementations in Ruby Rails and PHP</li>
<li>Be well tested</li>
</ul>
</p>

</div>
